body {
  background-image: url("./images/weights.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: bold;
}

h1 {
  font-weight: bold;
  color: black;
  margin-top: 30px;
}

form {
  padding: 30px;
  background-color: rgba(224, 219, 219, 0.411);
}

.bold {
  font-weight: bold;
}

p {
  max-width: 900px;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  padding: 2px;
  color: white;
}

.fg-video-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: -2;
  opacity: 0.15;
  overflow: hidden;
  height: 150%;
  width: 100%;
  object-fit: cover;
}
